<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block staticblock %}
	{% endblock %}
	{% block title %}
	<title>CoderUnionFAQ</title>
	{% endblock %}
</head>
<body>
	<div class="page-warp">
		<div class="navigation">
			<div class="logo">
				{% load staticfiles %}
				<img src="{% static "image/faq_logo.png" %}" alt="CoderUnionFAQ">
			</div>
			<div class="tool">
				<div class="ask"><p>Ask!</p></div>
			</div>
			<div class="user">
				<div class="sign"><p>Sign in</p></div>
				<div class="icon"></div>
			</div>
		</div>
		{% block main-content %}
		<div class="main-content"></div>
		{% endblock %}
	</div>
	<div class="dialog" id="sign">
		<div class="title">
			<p>注册</p>
			<div class="exit">
				<i class="fa fa-times"></i>
			</div>
		</div>
		<div class="joinus">
			<p>JOIN US!</p>
		</div> 
		<div class="content">
			<form action="">
				<div class="nameinput">
					<input type="text" placeholder=" 姓名" name="name"></input>
				</div>
				<div class="emailinput">
					<input type="email" placeholder=" 电子邮箱" name="email"></input>
				</div>
				<div class="passwordinput">
					<input type="password" placeholder=" 密码" name="password"></input>
				</div>
				<div class="againpw">
					<input type="password" placeholder=" 确认密码" name="againpw"></input>
				</div>
			</form>
		</div>
		<div class="control">
			<div class="yes"><i class="fa fa-check"></i></div>
			<div class="no"><i class="fa fa-times"></i></div>
		</div>
	</div>
	<div class="footer"></div>
</body>
</html>
